@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;700&family=Raleway:wght@500;700;800;900&display=swap');

.shadow-top {
  box-shadow: 0px -5px 30px 5px #00000066;
}

.shadow-btm {
  box-shadow: 0px 5px 50px 0px #3636363a;
}

.white {
  color: #fffcf5;
}

.bg-green {
  background-color: #415144;
}

#root {
  z-index: 0;
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  height: fit-content;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.a-i-center {
  align-items: center;
}

.a-i-left {
  align-items: left;
}

.j-c-sb {
  justify-content: space-between;
}

.j-c-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

#navbar {
  z-index: 3;
  min-width: 320px;
  width: 100vw;
  height: 80px;
  background-color: #415144;
  color: #fffcf5;
  padding: 1rem 1.5rem;
}

#logo {
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 4px 4px 5px #0000008a;
}

#menu-wrapper {
  padding: 2.5rem;
  position: fixed; 
  transition:visibility 0.5s, right 0.5s ease-in-out;
  background-color: #415144fa;
  box-shadow: -10px 0px 30px 5px #00000066;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100vh;
  width: 350px;
  top: 0;
  z-index: 100;
}

#menu-container {
  text-align: right;
  font-size: 1.75rem;
  line-height: 200%;
  border-style: solid;
  border-width: 2px 0px;
  border-color: #fffcf5;
  padding: 1rem 0rem;
}

#login-signup-box {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

#login-signup-box span{
  font-size: 1rem;
}

#login-signup-box img{
  font-size: 1rem;
  vertical-align: middle;
}

.isOpen.false {
  right:-1000px; 
  visibility:hidden;
}

.isOpen.true {
  right:0;
}

#menu-box {
  list-style-type: none;
}

#menu-box:hover > :not(:hover) {
  opacity: 0.4;
  transition: 0.3s;
}

#social-menu {
  padding-top: 1rem;
  justify-content: right;
}

#social-menu a {
  padding: 0 0.5rem;
}

.main-bg-container {
  z-index: 1;
  width: 100vw;
  min-width: 320px;
  min-height: 200px;
  height: 30vw;
  max-height: 600px;
}

#home {
  z-index: 1;
  height: 100vh;
  max-height: 800px;
  margin-bottom: -200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/landing.jpg");
  background-position: 50%;
}

#home-bg {
  z-index: 1;
  margin-top: 100px;
  padding-top: 50px;
  border-top-left-radius: 100% 3%;
  border-top-right-radius: 100% 3%;
  background-color: #415144;
}

.home-heading-container {
  position: relative;
  right: 15%;
  text-align: left;
  width: 41vw;
  min-width: 100px;
  max-width: 500px;
  height: 70vh;
  max-height: 800px;
}

.heading {
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 110%;
  text-align: left;
}

.heading-description {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 140%;
  font-weight: 200;
  padding-bottom: 1.5rem;
  text-align: left;
}

.btn {
  margin : 5px 0;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  background-color: #D4B565;
  padding: 10px;
  width: 130px;
  border-radius: 12px;
  transition: .5s ease;
}
.btns-container a {
  width: 130px;
}

.btn:hover {
  box-shadow: 0 0 10px 0 #f7d684 inset, 0 0 10px 4px #f7d684;
}

.home-context-container {
  z-index: 2;
  min-width: 320px;
  position: relative;
  top: -10px;
  font-size: 1.2rem;
  width: 100vw;
  height: auto;
  padding: 2rem 2rem;
  padding-bottom: 100px;
  background-color: white;
}

.context-container {
  z-index: 2;
  min-width: 320px;
  position: relative;
  top: -10px;
  font-size: 1.2rem;
  width: 100vw;
  height: auto;
  padding: 2rem 2rem;
  padding-bottom: 100px;
  background-color: white;
}

.cards-container {
  height: auto;
}

.seenby-card {
  width: 250px;
  height: 250px;
  background-color: #fffcf5;
  border-radius: 25px;
  margin: 1.5rem 0;
}

footer {
  min-width: 320px;
  position: relative;
  margin-top: -10px;
  z-index: 50;
  bottom: 0;
  width: 100vw;
  height: 120px;
  background-color: #415144;
  color: #fffcf56d;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  font-size: 10px;
}

.social-footer {
  padding: 0.5rem;
}

#about-us-bg {
  background-size: cover;
  background-position-y: 25%;
  background-image: url("./assets/about_us.jpg");
}

.heading-container {
  z-index: 1;
  padding: 2rem 2rem;
  text-align: left;
  justify-content: flex-start;
  width: 100%;
  background-color: white;
  height: auto;
}

.heading-container a {
  display: inline-block;
  vertical-align: middle;
}

.services {
  width: auto;
}

.services h3 {
  padding: 1rem 0;
} 

.services p {
  text-align: center;
  max-width: 400px;
}

#map {
  padding: 1rem 1rem;
}

#our-services {
  background-size: cover;
  background-image: url("./assets/our_service.jpg");
  background-position-y: 35%;
}

.package-card {
  background-color: #3636361c;
  border: 0.5px solid #36363653;
  padding: 2rem;
  margin: 1rem;
  width: 280px;
  height: 400px;
}

.package-card h3 {
  padding: 0.5rem;
}

.division-line {
  width: 200px;
  margin: 1rem;
  border: 1px solid #3636364c;
}

.package-card h2 {
  padding-bottom: 1rem;
  font-size: 2.25rem;
}

.send-inquiry-form {
  margin-top: -2rem;
}

#send-inquiry {
  background-size: cover;
  background-image: url("./assets/send_inquiry.jpg");
  background-position-y: 60%;
}

#send-inquiry input, textarea {
  font-family: "Noto Sans", sans-serif;
}

.send-inquiry-form input, .booking-input, #packages-dropbox {
  margin: 0.5rem;
  color: #363636;
  background-color: #0000000f;
  border: 1px solid #36363685;
  width: 300px;
  height: 40px;
  padding-left: 1rem;
}

#inquiry-message {
  margin: 0.5rem;
  color: #363636;
  background-color: #0000000f;
  border: 1px solid #36363685;
  width: 300px;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.send-inquiry-form input::placeholder {
  color: #3636364d;
}

.send-inquiry-form {
  margin-top: 1rem;
}

#inquiry-message::placeholder {
  color: #3636364d;
}

#submit-btn {
  margin : 5px 0;
  font-family: 'Noto Sans', sans-serif;
  color: #fffcf5;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 200;
  background-color: #A59468;
  padding: 13px;
  width: 230px;
  border: 0 solid white;
  border-radius: 12px;
  transition: .5s ease;
}

#submit-btn:hover {
  box-shadow: 0 0 10px 0 #f7d684 inset, 0 0 10px 4px #f7d684;
}

#invalid-warning {
  border: 1px solid #ff656586;
}

#login-bg {
  background-color: #363636ba;
  background-image: url("./assets/background3.png");
  background-size: cover;
  background-blend-mode: darken;
  background-position-x: center;
  width: auto;
  min-height: calc(100vh - 120px);
  height: max-content;
  padding : 8rem 0;
}

#login-container {
  width: 320px;
  height: max-content;
  padding-bottom: 4rem;
  background-color: #415144;
  color: #fffcf5;
  border-bottom-left-radius: 200px 75px;
  border-bottom-right-radius: 200px 75px;
}

#login-dog {
  position: relative;
  top: -40px;
}

#login-heading {
  margin: -0.5rem 0 1rem 0;
}

#login-dog {
  width: 45%;
}

.login-input {
  margin: 0.5rem 0;
  background-color: #415144;
  border: 1px solid #ffffff22;
  width: 230px;
  height: 40px;
  padding-left: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  color: #fffcf5;
}

.login-input::placeholder {
  color: #fffcf55c;
}
#login-form select {
  color: #fffcf55c;
}

.login-btn {
  margin : 5px 0;
  transition: .5s ease;
  background-color: #A59468;
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* margin: 2rem 3rem 1rem 3rem; */
  width: 230px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 10px;
  border-radius: 12px;
  transition: .5s ease;
}

#login-btn:hover {
  box-shadow: 0 0 10px 0 #f7d684 inset, 0 0 10px 4px #f7d684;
}

.sub-desc {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  text-decoration: underline;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #fffcf5;
}

.agreement {
  width: 230px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  line-height: 120%;
  text-align: center;
  font-size: 0.6rem;
}

#my-account {
  background-image: url("./assets/background2.jpg");
  background-position-y: 60%;
  background-size: cover;
}

.sub-menu {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  text-decoration: underline;
  font-size: 1rem;
  margin-bottom: 3rem;
  color: #363636
}

.sub-menu img {
  margin: 0 0.5rem;
  vertical-align: middle;
}

.react-datepicker {
  width: 328px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.booking-card {
  background-image: linear-gradient(150deg, #415144, #6d8271);
  color: #fffcf5;
  border-radius: 25px;
  width: 320px;
  height: 170px;
  margin: 1rem 0;
}

.booking-date {
  width: 35%;
}

.booking-detail {
  width: 65%;
  padding: 1rem 0;
}

.booking-detail div {
  padding-right: 2rem;
  text-align: right;
}

.modify-booking-box a {
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 140%;
  font-weight: 200;
  text-align: left;
}

#package-dropbox {
  display: block;
}

/* tablet view    */ 
@media screen and (min-width: 768px) and (max-width: 991px) {
  #logo {
    font-size: 2rem;
  }

  .text-shadow {
    text-shadow: 4px 4px 5px #0000008a;
  }

  .main-bg-container {
    min-height: 300px;
  }

  .btns-container {
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
  }

  .btns-container a {
    margin: 0 0.5rem;
  }

  .main-bg-container {
    order: 5;
  }

  .heading-container {
    padding: 5rem 4rem 3rem 4rem;
    position: absolute;
    background-color: #ffffff00;
    color: #fffcf5;
    width: 90%;
  }
  
  .context-container {
    min-height: 60vh;
    padding: 4rem 7rem;
    order: 10;
  }

  .cards-container {
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
    margin: 0 -50px;
  }

  .services {
    width: 320px;
  }

  .send-inquiry-form input, .booking-input, #packages-dropbox {
    width: 450px;
  }
  
  #inquiry-message {
    width: 450px;
  }

  .booking-card {
    width: 350px;
    margin: 1rem 3rem;
  }

  #booking-input-container {
    flex-direction: column;
  }

  #packages-dropbox {
    margin-right: 4rem;
    margin-left: 4rem;

  }
}

/* desktop view */
@media screen and (min-width: 992px) and (min-height: 558px) {

  #logo {
    font-size: 2.2rem;
    font-weight: 800;
  }

  .text-shadow {
    text-shadow: 4px 4px 5px #0000008a;
  }

  #navbar {
    background-color: #41514400;
    height: 120px;
    padding: 2rem 3rem;
    box-shadow: none;
    z-index: 0;
  }

  .home-context-container {
    position: relative;
    min-height: 250px;
    top: 0px;
    padding: 2rem 4rem;
    margin-top: -15%;
    padding-bottom: 250px;
  }
  
  #home {
    position: relative;;
    z-index: 0;
    top: -184px;
    max-height: 85vh;
  }

  .page-header {
    position: relative;
    top: -184px;
    z-index: -1;
  }

  #home-bg {
    margin-top: 0px;
  }

  .home-heading-container {
    position: relative;
    right: 15%;
    text-align: left;
    width: 35vw;
    padding-top: 184px;
    min-width: 100px;
    max-width: 500px;
    height: 70vh;
  }
  .home-cards-container {
    position: relative;
    max-width: 990px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: -20%;
    margin-bottom: 5%;
  }

  .seenby-card {
    display:inline-flex;
    margin: 1.5rem 1.5rem;
    vertical-align: middle;
  }

  .main-bg-container {
    min-height: 300px;
  }

  .btns-container {
    z-index: 1;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
  }

  .btns-container a {
    margin: 0 0.5rem;
  }

  .main-bg-container {
    order: 5;
    z-index: 1;
    width: 100vw;
    min-height: 200px;
    height: 600px;
  }

  .heading-container {
    padding: 7rem 7rem 3rem 7rem;
    position: absolute;
    background-color: #ffffff00;
    color: #fffcf5;
    width: 90%;
  }
  
  .context-container {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 60vh;
    width: 850px;
    position: relative;
    top: -150px;
    margin-bottom: -150px;
    order: 10;
    left: calc(100vw/2 - 425px);
  }

  #map {
    width: 100%;
  }

  .cards-container {
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
    margin: 0px 0px;
  }

  .package-card {
    flex-grow: 0;
  }

  .services {
    width: 240px;
    margin: 1rem 2rem;
  }

  .send-inquiry-form input, .booking-input, #packages-dropbox {
    width: 450px;
  }

  #calendar {
    order: 1;
    justify-self: center;
  }

  #booking-agreement {
    order: 2;
  }

  #booking-container {
    overflow: hidden;
    justify-content: center;
    /* left: 0px; */
    left: calc(100vw/2 - 485px);
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 990px;
    height: 50vh;
    max-height: 680px;
    min-height: 375px;
    margin-right: 0px;
    
    padding-bottom: 1rem;
    /* margin: 0px; */
  }

  #booking-input-container {
    /* display: inline-block; */
    padding: 0px;
    width: 520px;
    flex-direction: column;
    order: 3;
  }
  
  #inquiry-message {
    width: 450px;
  }

  .booking-card {
    width: 350px;
    margin: 1rem 3rem;
  }

  #packages-dropbox {
    /* margin-right: 4rem;
    margin-left: 4rem; */
  }

  #login-bg {
    flex-direction: column;
    z-index: -1;
    position: relative;
    top: -184px;
    margin-bottom: -184px;
    height: calc(100vh + 184px);
  }

  #login-container {
    position: relative;
  }

  #my-account-page {
    margin-bottom: 30px;
  }

  #my-account-page .context-container {
    justify-content: flex-start;
    align-items: baseline;
    left: calc(100vw/2 - 496px);
    width: 992px;
    padding-right: 0;
  }

  #my-account-page .cards-container {
    margin-top : -55px;
    padding-left: 200px;
    justify-content: flex-start;
  }

  .booking-card {
    margin: 1.5rem 0.5rem;
  }

  #page-container {
    min-height: 100vh;
    height: max-content;
    margin-bottom: 30px;
    z-index: -1;
    position:relative;
  } 

  footer {
    margin-top: -150px;
  }
}