@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;700&family=Raleway:wght@500;700;800;900&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#menu-wrapper {
  padding: 2.5rem;
  position: fixed; 
  transition:visibility 0.5s, right 0.5s ease-in-out;
  background-color: #415144f5;
  box-shadow: -10px 0px 30px 5px #00000066;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100vh;
  width: 250px;
  top: 0;
  list-style-type: none;
}

#menu-container {
  text-align: right;
  font-size: 1.75rem;
  line-height: 200%;
  border-style: solid;
  border-width: 2px 0px;
  border-color: #fffcf5;
}

#login-signup-box {
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.isOpen.false {
  right:-1000px; 
  visibility:hidden;
}

.isOpen.true {
  right:0;
}

#menu-box {
  list-style-type: none;
}

#menu-box:hover > :not(:hover) {
  opacity: 0.4;
  transition: 0.3s;
}

#social {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

#social a {
  padding: 0 0.5rem;
}