@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;700&family=Raleway:wght@500;700;800;900&display=swap');

.shadow-top {
  box-shadow: 0px -5px 30px 5px #00000066;
}

.shadow-btm {
  box-shadow: 0px 5px 50px 0px #3636363a;
}

.white {
  color: #fffcf5;
}

.bg-green {
  background-color: #415144;
}

#root {
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.a-i-center {
  align-items: center;
}

.a-i-left {
  align-items: left;
}

.j-c-sb {
  justify-content: space-between;
}

.j-c-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

#navbar {
  min-width: 320px;
  width: 100vw;
  height: 80px;
  background-color: #415144;
  color: #fffcf5;
  padding: 1rem 1.5rem;

}

#logo {
  font-size: 1.6rem;
  font-weight: 700;
}

#menu-wrapper {
  padding: 2.5rem;
  position: fixed; 
  transition:visibility 0.5s, right 0.5s ease-in-out;
  background-color: #415144fa;
  box-shadow: -10px 0px 30px 5px #00000066;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100vh;
  width: 350px;
  top: 0;
  z-index: 100;
}


#menu-container {
  text-align: right;
  font-size: 1.75rem;
  line-height: 200%;
  border-style: solid;
  border-width: 2px 0px;
  border-color: #fffcf5;
  padding: 1rem 0rem;
}

#login-signup-box {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.isOpen.false {
  right:-1000px; 
  visibility:hidden;
}

.isOpen.true {
  right:0;
}

#menu-box {
  list-style-type: none;
}

#menu-box:hover > :not(:hover) {
  opacity: 0.4;
  transition: 0.3s;
}

#social-menu {
  padding-top: 1rem;
  justify-content: right;
}

#social-menu a {
  padding: 0 0.5rem;
}

.main-bg-container {
  background-size: cover;
  min-height: 200px;
  height: 30vw;
  max-height: 600px;
  background-position-y: 25%;
}

#home {
  height: 100vh;
  margin-bottom: -200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/landing.jpg");
  background-position: 50%;
}


.home-heading-container {
  position: relative;
  left: 15%;
  text-align: left;
  width: 40vw;
  min-width: 100px;
  max-width: 500px;
  height: 70vh;
}

.heading {
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 110%;
  text-align: left;
}

.heading-description {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 140%;
  font-weight: 200;
  padding-bottom: 2rem;
  text-align: left;
}

.btn {
  margin : 5px 0;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  background-color: #D4B565;
  padding: 10px;
  width: 130px;
  border-radius: 12px;
  transition: .5s ease;
}

.btn:hover {
  box-shadow: 0 0 10px 0 #f7d684 inset, 0 0 10px 4px #f7d684;
}

#wave {
  min-width: 320px;
  width: 100vw;
}

.context-container {
  min-width: 320px;
  position: relative;
  top: -10px;
  font-size: 1.2rem;
  width: 100vw;
  height: auto;
  padding: 0 2rem;
  padding-bottom: 50px;
}


.cards-container {
  max-width: calc(100vw-4rem);
  height: auto;
}


.seenby-card {
  width: 250px;
  height: 250px;
  background-color: #fffcf5;
  border-radius: 10%;
  margin: 1.5rem 0;
}

footer {
  min-width: 320px;
  position: relative;
  margin-top: -15px;
  z-index: 50;
  bottom: 0;
  width: 100vw;
  height: 150px;
  background-color: #415144;
  color: #fffcf56d;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  font-size: 10px;
}

.social-footer {
  padding: 0.5rem;
}

#about-us {
  background-image: url("./assets/about_us.jpg");
}

.heading-container {
  padding: 2rem 2rem;
  text-align: left;
  justify-content: flex-start;
  width: 100%;
  max-width: 1080px;
  height: auto;
}

.services {
  width: auto;
}

.services h3 {
  padding: 1rem 0;
} 

.services p {
  text-align: center;
  max-width: 400px;
}

#map {
  padding: 1rem 1rem;
  max-width: 90vw; 
}

#our-services {
  background-image: url("./assets/our_service.jpg");
  background-position-y: 10%;
}

.package-card {
  background-color: #3636361c;
  border: 0.5px solid #36363653;
  padding: 2rem;
  margin: 1rem 0;
  max-width: 350px;
  width: calc(100vw-4rem);
  height: 400px;
}

.package-card h3 {
  padding: 1rem;
}

.division-line {
  width: 250px;
  margin: 1rem;
  border: 1px solid #36363685;
}

.package-card h2 {
  padding-bottom: 1rem;
  font-size: 2.25rem;
}

#send-inquiry {
  background-image: url("./assets/send_inquiry.jpg");
  background-position-y: 60%;
}

#send-inquiry input, textarea {
  font-family: "Noto Sans", sans-serif;
}

.send-inquiry-form input {
  margin: 0.5rem;
  color: #363636;
  background-color: #0000000f;
  border: 1px solid #36363685;
  width: 300px;
  height: 40px;
  padding-left: 1rem;
}

#inquiry-message {
  margin: 0.5rem;
  color: #363636;
  background-color: #0000000f;
  border: 1px solid #36363685;
  width: 300px;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.send-inquiry-form input::placeholder {
  color: #3636364d;
}

#inquiry-message::placeholder {
  color: #3636364d;
}

#submit-btn {
  margin : 5px 0;
  font-family: 'Noto Sans', sans-serif;
  color: #fffcf5;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: #D4B565;
  padding: 10px;
  width: 130px;
  border: 0 solid white;
  border-radius: 12px;
  transition: .5s ease;
}

#submit-btn:hover {
  box-shadow: 0 0 10px 0 #f7d684 inset, 0 0 10px 4px #f7d684;
}

#invalid-warning {
  border: 1px solid #ff656586;
}

#login-bg {
  background-color: #363636ba;
  background-image: url("./assets/background3.png");
  background-size: cover;
  background-blend-mode: darken;
  width: auto;
  height: max-content;
  padding : 8rem 0;
}

#login-container {
  width: 320px;
  height: max-content;
  padding-bottom: 4rem;
  background-color: #415144;
  color: #fffcf5;
  border-bottom-left-radius: 200px 75px;
  border-bottom-right-radius: 200px 75px;
}

#login-dog {
  position: relative;
  top: -40px;
}

#login-heading {
  margin: -0.5rem 0 1rem 0;
}

#login-dog {
  width: 45%;
}

.login-input {
  margin: 0.5rem 0;
  background-color: #415144;
  border: 1px solid #ffffff22;
  width: 230px;
  height: 40px;
  padding-left: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  color: #fffcf5;
}

.login-input::placeholder {
  color: #fffcf55c
}

.login-btn {
  background-color: #A59468;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 230px;
}

#forgot-password {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  text-decoration: underline;
  font-size: 0.8rem;
  color: #fffcf5;
}

.agreement {
  width: 230px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  line-height: 120%;
  text-align: center;
  font-size: 0.6rem;
  color: #fffcf5;
}