@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;700&family=Raleway:wght@500;700;800;900&display=swap');
#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

#navbar {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #415144;
  color: #fffcf5;
  padding: 1rem 1.5rem;
  box-shadow: 0px 5px 30px 5px #00000066;
}

#logo {
  font-size: 1.6rem;
  font-weight: 700;
}

#menu-wrapper {
  padding: 2.5rem;
  position: fixed; 
  transition:visibility 0.5s, right 0.5s ease-in-out;
  background-color: #415144fa;
  box-shadow: -10px 0px 30px 5px #00000066;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100vh;
  width: 350px;
  top: 0;
  z-index: 100;
}

#menu-container {
  text-align: right;
  font-size: 1.75rem;
  line-height: 200%;
  border-style: solid;
  border-width: 2px 0px;
  border-color: #fffcf5;
  padding: 1rem 0rem;
}

#login-signup-box {
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.isOpen.false {
  right:-1000px; 
  visibility:hidden;
}

.isOpen.true {
  right:0;
}

#menu-box {
  list-style-type: none;
}

#menu-box:hover > :not(:hover) {
  opacity: 0.4;
  transition: 0.3s;
}

#social {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

#social a {
  padding: 0 0.5rem;
}

.heading-container {
  text-align: left;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fffcf5;
  max-width: 45%;
  height: 60vh;
}

.heading {
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #fffcf5;
  line-height: 110%;
}

.heading-description {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 140%;
  font-weight: 200;
  padding-bottom: 4rem;
}

.btns-container {
  display: flex;
  flex-direction: column;
}

.btn {
  margin : 5px 0;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  background-color: #D4B565;
  padding: 10px;
  width: 130px;
  border-radius: 12px;
  transition: .5s ease;
}

.btn:hover {
  box-shadow: 0 0 10px 0 #f7d684 inset, 0 0 10px 4px #f7d684;
}

#wave {
  width: 100vw;
}

.context-container {
  position: relative;
  top: -10px;
  background-color: #415144;
  color: #fffcf5;
  font-size: 1.2rem;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}  

.cards-container {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
}


.seenby-cards {
  width: 250px;
  height: 250px;
  background-color: #fffcf5;
  border-radius: 10%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}